body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  min-height: 100px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  font-family: "Arial", sans-serif;
}

.login-container {
  background: #ffffff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 1rem;
  color: #333333;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
.main-button {
  height: 25px;
  width: 110px;
  background: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  margin-top: 7px;
  cursor: pointer;
  transition: 0.3s;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.main-button i {
  color: white;
  transition: 0.3s;
}

.main-button:hover {
  background-color: #004cff; /* Change both text and icon color to black */
}

#addUserBtn {
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
#userList button {
  color: #777777;
}

.fa-edit:hover {
  color: #1c7ee7;
}
.fa-trash:hover {
  color: #f64515;
}

.login-container .footer {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #777777;
}
.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}
#linkedinLink {
  color: blue;
  text-decoration: none;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#linkedinLink:hover {
  color: darkblue;
}
/* Notification styling */
.notification {
  display: none;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  font-size: 12px;
}

/* Show the notification */
.show {
  display: block;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations for the notification */
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
.user-item {
  display: flex;
  align-items: center;
  font-size: 2 rem;

  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ccc; /* Optional for separating items */
}
input[type="radio"] {
  margin-right: 10px; /* Spacing between radio and label */
}
.user-label {
  flex-grow: 1; /* Ensure label takes up remaining space */
}
#logo {
  border-radius: 20px;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  font-weight: 600;
  color: #6b6565;
}
.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch #toggle {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#toggle:checked + .slider {
  background-color: #2196f3;
}
#toggle:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
#toggle:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.login-main {
  margin-top: 10px;
}
#startup {
  font-size: 15px;
  color: black;
  font-weight: normal;
  margin-right: 10px;
}
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  margin: 10px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: #333;
  color: #fff;
  text-align: left;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  margin-left: -110px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%; /* Bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

/* Show the tooltip text when hovered */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
